<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/interpolacion.css') }}"
        />
        <title>Interpolación</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script language="JavaScript">
            function mostrar(texto) {
                if (texto.includes('Found') || texto.includes('ValueError')) {
                    swal({
                        title: "Error",
                        text: 'Los valores ingresados no son correctos o permitidos',
                        icon: "error",
                    }).then( function(){ 
                        window.location.replace('http://127.0.0.1:5000/interpolacion')
                    });
                } else {
                    swal({
                        title: "La Respuesta es:",
                        text: texto,
                        icon: "success",
                    });
                }
            }
            async function file_get_contents(uri, callback) {
                let res = await fetch(uri),
                    ret = await res.text();
                return callback ? callback(ret) : ret; // a Promise() actually.
            }
            function imprimir() {
                const formulario = document.querySelector("form");
                const data = new FormData(formulario);
                url =
                    "http://127.0.0.1:5000/interpolacion/" +
                    data.getAll("x") +
                    "/" +
                    data.getAll("lx") +
                    "/" +
                    data.getAll("ly");
                formulario.setAttribute("action", url);
                file_get_contents(url, mostrar);
            }
            function addInput() {
                let todo = ["#copX", "#copLX", "#copLY"];
                let divs = ["#xs", "#lxs", "#lys"];
                for (let i = 0; i < todo.length; i++) {
                    let clon = document.querySelector(todo[i]).cloneNode(true);
                    var br = document.createElement("br");
                    clon.removeAttribute("id");
                    document.querySelector(divs[i]).appendChild(clon);
                    document.querySelector(divs[i]).appendChild(br);
                }
                menos.removeAttribute("disabled");
            }
            function removeInput() {
                let todo = ["xs", "lxs", "lys"];
                for (let i = 0; i < todo.length; i++) {
                    let dele = document.getElementById(todo[i]);
                    console.log(dele.lastChild);
                    dele.removeChild(dele.lastChild);
                    dele.removeChild(dele.lastChild);
                }
            }
        </script>
    </head>
    <body>
        <div id="container" class="container-fluid">
            <center><h3>Metodo de Interpolación</h3></center>
            <form id="form">
                <input
                    type="button"
                    value="+"
                    onclick="addInput()"
                    style="display: inline-block; margin: 10px"
                />
                <input
                    disabled
                    id="menos"
                    type="button"
                    value="-"
                    onclick="removeInput()"
                    style="display: inline-block; margin: 10px"
                />
                <div id="xs" style="display: inline-block; margin: 20px">
                    <p>X a evaluar</p>
                    <br />
                    <input id="copX" type="text" name="x" /><br />
                </div>

                <div id="lxs" style="display: inline-block; margin: 20px">
                    <p>Lista de X</p>
                    <input id="copLX" type="text" name="lx" /><br />
                    <input type="text" name="lx" /><br />
                </div>

                <div
                    id="lys"
                    style="display: inline-block; margin: 20px; margin-right: 0"
                >
                    <p>Lista de Y</p>
                    <input id="copLY" type="text" name="ly" /><br />
                    <input type="text" name="ly" /><br />
                </div>
                <button type="button" onclick="imprimir()">Visualizar resultado</button>
                <input type="reset" id="b" value="Limpiar">
            </form>
        </div>
        <center><a href="/rk_4to"><button style="margin: 15px">Ir al metodo de Runge-Kutta</button></a></center>
    </body>
</html>
