<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/rk_4to.css') }}"
        />
        <title>Runge-Kutta</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script language="JavaScript">
            function mostrar(texto){
                swal({
                    title: 'La Respuesta es:',
                    text: texto,
                    icon: 'success'
                });
            }
            async function file_get_contents(uri, callback) {
                let res = await fetch(uri),
                    ret = await res.text();
                return callback ? callback(ret) : ret;
            }
            function imprimir() {
                const formulario = document.querySelector("form");
                const data = new FormData(formulario);
                url = "http://127.0.0.1:5000/rk_4to/" + 
                data.getAll("x") + "/" + 
                data.getAll("y") + "/" + 
                data.getAll("h") + "/" + 
                data.getAll("fx") + "/" + 
                data.getAll("xf");
                formulario.setAttribute("action", url);
                file_get_contents(url, mostrar);
            }
        </script>
    </head>
    <body>
        <div id="container">
            <center>
                <h3>Metodo Runge-Kutta 4to orden</h3>
            </center>
            <form id="form">
                <p>Ingrese el parametro X inicial</p>
                <input type="text" name="x" />
                <br />
                <p>Ingrese el parametro Y inicial</p>
                <input type="text" name="y" />
                <br />
                <p>Ingrese el parametro h o pivote</p>
                <input type="text" name="h" />
                <br />
                <p>Ingrese la funcion F(x) que será evaluada</p>
                <input type="text" name="fx" />
                <br />
                <p>Ingrese el parametro X final</p>
                <input type="text" name="xf" />
                <br />
                <br />
                <button type="button" onclick="imprimir()">
                    Visualizar resultado
                </button>
                <input type="reset" id="b" value="Limpiar">
            </form>
        </div>
        <a href="/interpolacion"><button>Ir al metodo de Interpolación</button></a>
    </body>
</html>
