<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rk_4to.css') }}">
    <title>Runge-Kutta</title>
</head>
<body>
    <div id="container">
        <center>
            <h3>Metodo Runge-Kutta 4to orden</h3>
        </center>
        <form>
            <p>Ingrese el parametro X inicial</p>
            <input type="text">
            <br/>
            <p>Ingrese el parametro Y inicial</p>
            <input type="text">
            <br/>
            <p>Ingrese el parametro h o pivote</p>
            <input type="text">
            <br/>
            <p>Ingrese la funcion F(x) que será evaluada</p>
            <input type="text">
            <br/>
            <p>Ingrese el parametro X final</p>
            <input type="text">
            <br/>
            <br/>
            <input type="submit" id="b" value="Enviar">
            <input type="reset" id="b" value="Limpiar">
        </form>
        
    </div>
    <img
        src="../static/RungeKutta.png"
        alt="Runge-Kutta 4to orden"
        width="300px"
    />
</body>
</html>