body{
    background-color:  aquamarine;
    font-family: 'Vibur', cursive;
}

#container {
    margin-top: 35px;
    margin-left: 25%;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    width: 50%;
    box-shadow: -7px 7px 26px 0 #969696;
}

#b{
    max-width: 15%;
    min-width: fit-content;
  }
  
  #b:hover{
    color: red;
    transform: translatey(3px);
  }
  
  input{
    min-width: fit-content;
  }
  
  p{
    width: 50%;
    min-width: fit-content;
  }




  