body{
    background-color:  aquamarine;
}

#container {
    margin-top: 35px;
    margin-left: 25%;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    width: 50%;
    box-shadow: -7px 7px 26px 0 #969696;
}




  